version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: menu_digital
      MYSQL_USER: sa
      MYSQL_PASSWORD: sa
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql  #
    networks:
      - my_network

volumes:
  mysql_data:

networks:
  my_network:
