# FastAPI Framework
fastapi[all]

# ASGI Server for running FastAPI
uvicorn[standard]

# Database Libraries
sqlalchemy
alembic  # Database migrations
pymysql  # MySQL driver
# psycopg2-binary  # PostgreSQL driver
# pyodbc  # SQL Server driver

# Pydantic for Data Validation
pydantic
pydantic-settings  # Configuration management

# Authentication & Security
passlib[bcrypt]  # Password hashing
pyjwt  # JSON Web Token for authentication
cryptography  # Required for MySQL auth methods

# Environment Variables Management
python-dotenv

# send mail
fastapi-mail

# api versioning
fastapi-versioning

# Oauth2 with google
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-auth-exceptions
